<h1>Routes</h1>

<% @routes.each do |route| %>
  <h2><%= route.name %></h2>
  <p><%= route.id %></p>
  <p><%= route.meters_tall %></p>
  <p><%= route.bolted %></p>
  <p><%= route.created_at %></p>
  <p><%= route.updated_at %></p>
  <p><%= route.crag_id %></p>
<% end %>