<a href="/crags">Crags Index</a>
<h1>Routes</h1>
<% @routes.each do |route| %>
  <h2><%= route.name %></h2>
  <p><%= route.id %></p>
  <p><%= route.meters_tall %></p>
  <p><%= route.bolted %></p>
  <p><%= route.created_at %></p>
  <p><%= route.updated_at %></p>
  <p><%= route.crag_id %></p>
  <p><a href="/routes/<%= route.id %>/edit"><%= route.name %> Update</a></p>
  <%= button_to "#{route.name} Delete", "/routes/#{route.id}", method: :delete %>
<% end %>