<a href="/crags">Crags Index</a>
<a href="/routes">Routes Index</a>
<h1><%= @route.name %></h1>
  <p>ID: <%= @route.id %></p>
  <p>Meters tall: <%= @route.meters_tall %></p>
  <p>Bolted: <%= @route.bolted %></p>
  <p>Created at: <%= @route.created_at %></p>
  <p>Updated at: <%= @route.updated_at %></p>
  <p>Crag ID: <%= @route.crag_id %></p>
  <a href="/routes/<%= @route.id %>/edit">Update Route</a>